html 
    head 
        title Restaurant Management System 

    body 

        include ./header 
        div#main 
            h1 Welcome to the restaurant data management system! 
            br
            p To start, you can either start adding a restaurant, or browse the current restaurants available!